.dashboard-container {
	margin: 0px;
	padding: 5px;
}

.content-container {
	height: 93.5vh;
}

.calendar, .calendar2 {
	padding: 10px;
	background-color: rgba(230, 230, 230, 0.5);
	border: 5px solid #FFFFFF;
	min-height: 45vh;
}

.day-calendar {
	padding: 10px;
	background-color: rgba(230, 230, 230, 0.5);
	border: 5px solid #FFFFFF;
	padding-bottom: 20px;
}

.add-event-container {
	text-align: center;
	padding: 10px;
}

.add-event-container h1 {
	font-size: 200%;
	font-weight: bold;
}

.event-container {
	margin-top: 10px;
	border-style: solid;
	border-color: rgba(150, 150, 150, 0.6);
    border-width: thin 0px 0px 0px;
}

.event-container h1 {
	margin-top: 10px;
}

.datetimepicker1 {
	margin-bottom: 15px;
}

.input-group {
	cursor: pointer;
}

textarea {
    resize: none;
}

div .calendar, div .calendar2 {
	overflow: auto;
}

.content-container {
	padding: 10px;
	background-color: rgba(230, 230, 230, 0.5);
	border: 5px solid #FFFFFF;
	padding-bottom: 20px;
}

.view-event-container {
	padding-bottom: 10px;
	display: inline;
}

#event-title {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
}

#event-description {
	font-size: 150%;
}

#event-description-content {
	text-indent: 15px
}



