.dashboard-container {
	margin: 0px;
	padding: 0px;
	background-image: url("/img/background.jpg");
}

.content-container {
	min-height: 50vw;
}

.calendar, .calendar2 {
	padding: 15px;
	background-color: rgba(30, 30, 30, 0.4);
	min-height: 25vw;
	border: 2px solid rgba(0, 0, 0, 0.0);
}

.day-calendar {
	padding: 15px;
	background-color: rgba(30, 30, 30, 0.4);
	min-height: 50vw;
	padding-bottom: 20px;
	color: white;
}

.add-event-container {
	text-align: center;
	padding: 15px;
}

.add-event-container h1 {
	font-size: 200%;
	font-weight: bold;
	color: white;
}

.fc-unthemed .fc-today {
  background: rgba(0, 0, 100, 1);
}
.event-container {
	margin-top: 10px;
	padding: 15px;
	border-style: solid;
    border-width: thin 0px 0px 0px;
}

.event-container h1 {
	margin-top: 10px;
}

.datetimepicker1 {
	margin-bottom: 15px;
}

.input-group {
	cursor: pointer;
}

textarea {
    resize: none;
}

div .calendar, div .calendar2 {
	overflow: auto;
	color: white;
}

.content-container {
	padding: 10px;
	background-color: rgba(30, 30, 30, 0.4);
	padding-bottom: 20px;
}

.view-event-container {
	padding-bottom: 10px;
	display: inline;
	color: white;
}

#event-title {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	color: white;
}

#event-description {
	font-size: 150%;
}

#event-description-content {
	text-indent: 15px
}

.event-container label {
	color: white;
}



